/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 4, 2019, 9:33:49 PM
    Author     : Simon Dao
*/

#ContactsPane {
    -fx-background-color: #1e90ff;
    -fx-border-color: #1e90ff;
}

#FriendScrollPane > .viewport {
    -fx-background-color: #D5DBDB;
    -fx-border-color:whitesmoke;
}

#TopPane {
    -fx-background-color: #1e90ff;
    -fx-border-color: #1e90ff;
}

#me {
    -fx-background-color: #1e90ff;
}

#bottomPane {
    -fx-background-color: #1e90ff;
}

.button {
    -fx-background-color: #1e90ff;
    -fx-background-radius: 20;
    -fx-text-fill: white;
    -fx-font-family: Open Sans;
}

.text-field {
    -fx-background-color: #CFD8DC ;
    -fx-background-radius: 20;
    -fx-font-family: Open Sans;
}


/*
.button:hover {
    -fx-border-color: #1e90ff;
    -fx-border-radius: 4;
    -fx-border-width: 2;
    -fx-background-color: white;
    -fx-background-radius: 4;
    -fx-text-fill: #1e90ff;
    }
 */


/*
.text {
    -fx-background-color: #1e90ff;
    -fx-text-fill: white;
    -fx-text-size: 500;
    -fx-background-size: 3;
}
*/